.back{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 600px;
  height: 70%;
}
.col{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 30px;
}
.pil{
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(91, 225, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
